/* General CSS=============================================
=========================================================== */
* {
    margin: 0%;
    padding: 0px;

}


/* Header==================================================
============================================================ */
.main-header{
    background-color: #70BD05;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-1{
    height: 38px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}


.header-right {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}
.header-right i{
    margin-left: 8px;
    color: #fff;
}

.header-phone {
    display: flex;
    
    padding-right:8px ;
    justify-content: center;
    align-items: center;
    border-right:2px solid rgb(250, 249, 249) ;
}

.header-email {
    padding-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .h-icon{
    font-size: 12px;
} */


/* Media Query for Mobile View=============================
=========================================================== */
@media only screen and (max-width: 990px) {
    .header-right {
      justify-content: flex-start; 
      width: 100%;
    }
  
    .header-right i {
      margin-left: 8px;
      margin-right: 3px; 
    }
  }





/* Navebar==================================================
============================================================ */


.login-btn{
    border-radius: 30px;
    padding: 6px 30px 7px 30px;
    border: 2px solid #70BD05;
}
/* stroke */
nav.stroke ul li a {
  position: relative;
}
nav.stroke ul li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #70BD05;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
  transition: all 0.8s;
}



/* Hero Section =======================================
======================================================= */
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.hero-4 h1{
    font-size: 70px;
}
.hero-3{
    color: #ffff;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-1{
     background-image: url('./image/HomeImg.png') !important;
     background-size: cover !important;
     background-repeat: no-repeat;
     padding-bottom: 40px;
    
    }
.btn-hero{
    background-color: #70BD05;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    color: white;
}
.hero-form{
    padding: 10px 30px 10px 30px;
    width: 100%;
    border-radius: 10px;
}

.btn-outline-hero{
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    border: 2px solid #70BD05;
    color: #70BD05;
}


.box{
    position: relative;
    padding: 50px;
    width: 360px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(9, 5, 5, 0.627);
    border-radius: 6px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.581);
}

.hero-5{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 70px; */
    /* height: 80vh;     */
}

.box .form{
    width: 100%;
}

.box .form h2{
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.box .form .InputBx{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
   
}

.box .form .InputBx input,
.box .form .InputBx textarea {
    width: 100%;
    outline: none;
    border: 1px solid #70bd0589;
    background: transparent;
    padding: 8px 10px;
    padding-left: 37px;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
}

.box .form .InputBx textarea {
    height: 100px;
    resize: none;
}

.box .form .InputBx input::placeholder,
.box .form .InputBx textarea::placeholder {
    color: #fff;

}

.box .form .InputBx input[type="submit"] {
    background: #fff;
    color: #111;
    max-width: 100px;
    padding: 8px 10px;
    box-shadow: none;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

.box .form .InputBx img {
    /* position: absolute; */
    top: 4px;
    left: 10px;
    transform: scale(0.7);
}

.remember {
    /* position: relative; */
    display: inline-block;
    color: #fff;
    font-weight: 300;
    margin-bottom: 10px;
    cursor: pointer;
}

.box .form p {
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    margin-top: 5px;
}

.box .form a {
    color: #fff;
}



/* About==========================================
================================================== */

.hero-small-box{
    position: absolute;
    border-radius: 5x;
    background-color: #028B23;
    box-shadow: 1px 1px 10px black;
    width: 280px;
    height: 100px;
    top: 80%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-box-heading{
    color: #fff;
    font-size: 25px;

}
.hero-about-btn{
    padding: 10px 40px 10px 40px;
    font-size: 25px;
    border-radius: 50px;
    border: 2px solid #028B23;
    background-color: white;
    color: #028B23;
}

.hero-about-btn:hover{
    padding: 10px 40px 10px 40px;
    font-size: 25px;
    border: 2px solid #70BD05;
    background-color:#028B23 ;
    color: #fbfdf9;
}

.abb{
    position: relative;
}

@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Our Turf================================================
=========================================================== */

.our-turf{
    margin-top: 100px;
    background-image: url('./image/Home.png') !important;
    background-size: 100%;
    height: 100vh;
    color: white;
}
.our-turf-header{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}