/* General CSS=============================================
=========================================================== */
* {
    margin: 0%;
    padding: 0px;

}


/* Header==================================================
============================================================ */
.main-header{
    background-color: #70BD05;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-1{
    height: 38px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}


.header-right {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}
.header-right i{
    margin-left: 8px;
    color: #fff;
}

.header-phone {
    display: flex;
    
    padding-right:8px ;
    justify-content: center;
    align-items: center;
    border-right:2px solid rgb(250, 249, 249) ;
}

.header-email {
    padding-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .h-icon{
    font-size: 12px;
} */


/* Media Query for Mobile View=============================
=========================================================== */
@media only screen and (max-width: 990px) {
    .header-right {
      justify-content: flex-start; 
      width: 100%;
    }
  
    .header-right i {
      margin-left: 8px;
      margin-right: 3px; 
    }
  }





/* Navebar==================================================
============================================================ */


.login-btn{
    border-radius: 30px;
    padding: 6px 30px 7px 30px;
    border: 2px solid #70BD05;
}
/* stroke */
nav.stroke ul li a {
  position: relative;
}
nav.stroke ul li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #70BD05;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
  transition: all 0.8s;
}
